@import './App';

.animalCard {
  background: linear-gradient(120deg, $colorBasic, $colorDark);
  border: solid $colorEmphasisGreen;
  border-width: 0.1em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 0px $colorEmphasisGreen;
  color: $colorLight;
  font-size: medium;
  padding: 0.5rem;
  text-align: left;
  position: relative;
  min-width: 425px;
  min-height: 20rem;
}

.animalType.leftOriented {
  right: 0;
  order: 3;
}

.animalType.rightOriented {
  left: 0;
  order: 1;
}

.animalTypeImg {
  max-width: 35px;
  max-height: 35px;
}

.cardHeader {
  color: $colorEmphasisOrange;
  font-weight: bold;
  font-size: x-large;
  min-width: 125px;
}

.cardHeader.leftOriented {
  //text-align: left;
  order: 1;
}

.cardHeader.rightOriented {
  //margin-left: 2rem;
  order: 3;
}

.cardInfo {
  text-overflow: ellipsis;
  display: inline-block;
  align-items: center;
  font-size: small;
  color: $colorEmphasisGreen;
  margin: 0 0.5rem 0 0.5rem;
  order: 2;
}

.cardInfo.leftOriented {
  justify-content: flex-start;
}

.cardInfo.rightOriented {
  justify-content: flex-end;
}

.cardDate {
  //margin: 0 0.5rem;
}

.cardCoordsNumber {
  text-align: end;
}

.cardImgViewer.rightOriented {
  grid-column: 1 / span 1;
  padding-right: 0.5rem;
}

.cardImgViewer.leftOriented {
  grid-column: 2 / span 1;
  padding-right: 0.5rem;
}

.iconAnimal {
  width: 41px;
  height: 41px;
  background-size: cover;
}

.iconDog {
  background-image: url("./img/dog/dog.svg");
  width: 48px;
  height: 41px;
}

.iconDogF {
  background-image: url("./img/dog/female.svg");
  width: 40px;
  height: 46px;
}

.iconDogM {
  background-image: url("./img/dog/male.svg");  
  width: 45px;
  height: 41px;
}

.iconCat {
  background-image: url("./img/cat/cat.svg");
}

.iconCatF {
  background-image: url("./img/cat/female.svg");
}

.iconCatM {
  background-image: url("./img/cat/male.svg");
}

.iconAnimal:hover,
.iconAnimal:focus {
  fill: $colorEmphasisOrange;
  stroke: $colorEmphasisGreen;
}

.headerLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardCommentText {
  max-height: 300px;
  overflow-y: auto;
}

.cardComment.leftOriented {  
  grid-column: 1 / span 1;
  grid-row: 1;
}

.cardComment.rightOriented {  
  grid-column: 2 / span 1;
  grid-row: 1;
}

.animalCardMain {
  display: grid;
  column-gap: 0.5rem;
  max-height: 60vh;
  margin: 0.5rem 0 0 0;
}

.animalCardMain.leftOriented {
  grid-template-columns: 40% 60%;
}

.animalCardMain.rightOriented {
  grid-template-columns: 60% 40%;
}