@import './App';

div.animalCard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}

.animalType {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}

.animalType.leftOriented {
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: flex-end;
}

.animalType.rightOriented {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: flex-start;
}

.cardHeader {
  font-size: larger;
  color: $colorEmphasisOrange;
  font-weight: bold;
  font-size: x-large;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}

.cardHeader.leftOriented {
  text-align: left;
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 1;
}

.cardHeader.rightOriented {
  text-align: right;
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-left: 2rem;
}

.cardImgViewer {
  grid-row-start: 2;
  grid-row-end: 4;
}

.cardImgViewer.leftOriented {
  grid-column-start: 2;
  grid-column-end: 2;
}

.cardImgViewer.rightOriented {
  grid-column-start: 1;
  grid-column-end: 1;
}

.cardInfo {
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  align-items: center;
}

.cardInfo.leftOriented {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: flex-start;
}

.cardInfo.rightOriented {
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: flex-end;
}

.cardComment {
  grid-row-start: 3;
  grid-row-end: 3;
}

.cardComment.leftOriented {
  grid-column-start: 1;
  grid-column-end: 1;
}

.cardComment.rightOriented {
  grid-column-start: 2;
  grid-column-end: 2;
}

.cardDate {
  margin: 0 0.5rem;
}

.cardCoordsNumber {
  text-align: end;
}