@import './App';

.animalCard {
  background: linear-gradient(120deg, $colorBasic, $colorDark);
  border: solid $colorEmphasisGreen;
  border-width: 0.1em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 0px $colorEmphasisGreen;
  color: $colorLight;
  font-size: medium;
  padding: 1em;
  text-align: left;
  position: relative;
}

.animalType {
  display: inline;
  position: absolute;
  top: 0;
  margin: 0.3rem;
}

.animalType.leftOriented {
  right: 0;
}

.animalType.rightOriented {
  left: 0;
}

.animalTypeImg {
  max-width: 35px;
  max-height: 35px;
}

.cardHeader {
  font-size: larger;
  color: $colorEmphasisOrange;
  font-weight: bold;
  font-size: x-large;
}

.cardHeader.leftOriented {
  text-align: left;
}

.cardHeader.rightOriented {
  text-align: right;
  margin-left: 2rem;
}

.cardInfo {
  display: flex;
  align-items: center;
}

.cardInfo.leftOriented {
  justify-content: flex-start;
}

.cardInfo.rightOriented {
  justify-content: flex-end;
}

.cardDate {
  margin: 0 0.5rem;
}

.cardCoordsNumber {
  text-align: end;
}

.cardImgViewer.rightOriented {
  float: left
}

.cardImgViewer.leftOriented {
  float: right
}