$colorLight:#ffedca;
$colorBasic:#260101;
$colorEmphasisGreen: #898C37;
$colorEmphasisOrange: #c34818;
$colorDark: #0D0000;

@media (prefers-reduced-motion: no-preference) {
}

.animalCard {
  background: linear-gradient(120deg, $colorBasic, $colorDark);
  border: solid $colorEmphasisGreen;
  border-width: 0.1em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 0px $colorEmphasisGreen;
  color: $colorLight;
  font-size: medium;
  padding: 1em;
  text-align: left;
}

.animalGender {
  font-size: x-small;
}

.animalTypeImg {
  max-width: 30px;
  max-height: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppModeViewer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background: $colorLight;
  color: $colorDark
}

#appStateMenu {
  background: $colorDark;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;  
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cardItemHeader {
  color: #898C37;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

#headerDiv {
  background: $colorBasic;
  color: $colorEmphasisOrange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-weight: bolder;
}

#headerCornerDiv {
  background: $colorLight;
  color: $colorLight;
  justify-content: stretch;
  align-self: center;
}

#headerLogo {  
  max-width: 100%;
}

#lowestDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $colorBasic;
}

.parentDiv {
  display: grid;
  grid-template-columns: 15% auto 3%;
  grid-template-rows: 10% auto 10%;
  justify-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  height: 100vh;
}