.page {
  display: flex;
}

.left-sub-page {
  max-width: 600px
}

.right-sub-page {
  
}

.thumbnails-container {
    display: flex;
    flex-wrap: wrap;
  }

.thumbnails-container .thumbnail-container {
  width: 150px;
  max-height: 150px;
  border: gray 1px;
  padding: 8px;
}

.thumbnails-container .thumbnail-container img {
    max-height:100%;
    max-width: 100%;    
    align-self: center;
  }
