@import "App";

.page {
  display: flex;
  overflow-x: auto;
}

.left-sub-page {
  max-width: 600px
}

.right-sub-page {
  
}

.CandidatesReview {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 100vh;
}

.upper-screen {
  height: 60vh;
}

.lower-screen {
  //margin: 0.5rem 0 0 0;
  height: 100%;
  width: calc(100vw - 48px);
}