@import "App";

.page {
  display: flex;
}

.left-sub-page {
  max-width: 600px
}

.right-sub-page {
  
}

.CandidatesReview {
  display: grid;
  grid-template-rows: 60% 40%;
  max-height: 48rem;
  height: 100vh;
}

.upper-screen {
  //min-height: 20rem;
}

.lower-screen {
  margin: 0.5rem 0 0 0;
}