@import './App';

.carouselImgViewer {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: auto auto 1rem;
  }
  
  .carouselImgViewerMainPhoto {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    width: 10rem;
    height: 15rem;
    align-items: center;
    display: flex;
  }
  
  .carouselImgViewerMainImg {
    max-width: 100%;
    max-height: 100%;
  }
  
  .carouselImgViewerMiniPhotos {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    place-self: center;
  }
  
  .carouselImgViewerGoLeft {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    cursor: pointer;
  }
  
  .carouselImgViewerGoRight {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    cursor: pointer;
    justify-self: end;
  }
  
  .carouselImgViewerDots {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    width: 60%;
  }
  
  .carouselDots {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .carouselSelectedDot {
    color: $colorEmphasisGreen;
  }
  
  