@import './ScssVariables.scss';

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .carouselImgViewer {
    width: $animalCardWidth * 0.6;
    height: $animalCardHeight - $animalCardHeaderHeight - 5px;
  }

  .carouselImgViewerMainPhoto {
    width: $animalCardWidth * 0.6;
    height: ($animalCardHeight - $animalCardHeaderHeight - 5px) * 0.7;
  }

  .carouselImgViewer2row {
    width: $animalCardWidth * 0.6 - $carouselImgViewerMiniPhotosOffset;
    height: ($animalCardHeight - $animalCardHeaderHeight - 5px) * 0.3;
  }

  .carouselImgViewerMiniPhotos {
    width: $animalCardWidth * 0.6 - 28px - $carouselImgViewerMiniPhotosOffset;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
  .carouselImgViewer {
    height: calc(100vh - 240px - 5rem - 41px);
  }

  .carouselImgViewerMainPhoto {
    min-width: 255px;
    height: calc((100vh - 240px - 5rem - 41px) * 0.7);
  }

  .carouselImgViewer2row {    
    height: calc((100vh - 240px - 5rem - 41px) * 0.3);
  }
}

  .carouselImgViewer {
    //display: grid;
    //grid-template-columns: 2rem auto 2rem;
    //grid-template-rows: auto auto 1rem;
  }
  
  .carouselImgViewerMainPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carouselImgViewerMainImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .carouselImgViewer2row {
    display: grid;
    grid-template-rows: auto 13px;
    grid-template-columns: 13px auto 13px;
  }
  
  .carouselImgViewerGoLeft {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    cursor: pointer;
  }
  
  .carouselImgViewerMiniPhotos {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    place-self: center;
  }
  
  .carouselImgViewerGoRight {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    cursor: pointer;
    justify-self: end;
  }
  
  .carouselImgViewerDots {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    width: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .carouselDots {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .carouselSelectedDot {
    color: $colorEmphasisOrange;
  }
  
  .carouselImgViewerMainPhoto.onePhotoCard {
    height: calc(100vh - 240px - 5rem - 41px);
  }