/* color scheme */
$colorLight:#ffedca;
$colorBasic:#260101;
$colorEmphasisGreen: #898C37;
$colorEmphasisOrange: #c34818;
$colorDark: #0D0000;

/* iPads (landscape) ----------- */
$carouselImgViewerMiniPhotosOffset: 10px;
$animalCardWidth: 420px;
$animalCardHeight: 490px;
$animalCardHeaderHeight: 55px;